body {
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;                 /* remove default body margin so footer spans full width */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #333333;
}

p {
  font-size: 20px;
  color: #dd0808;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: green;
}

footer {
  background-color: black;
  height: 75px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;             /* better centering than <center> tag */
  align-items: center;
  justify-content: center;
}